<footer class="footer">
  <small>
    <a href='#'>Auth App</a>
    by Jonathan Reimels
  </small>
  <nav>
    <ul>
      <li>About<%# link_to "About",   about_path %></li>
      <li>Contact<%# link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
